body {
    color: #747474 !important;
}

label {
    font-size: 16px;
    font-weight: bold;
}

select {
    padding-left: 30px;
}

textarea {
    resize: none;
    outline: none;
    border-color: #ccc !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-default {
    outline: none !important;
}

#main {
    display: none;
}

.animation {
    display: block !important;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.form-style {
    padding-top: 15px;
}

.row-form{
    margin-top: 15px;
}

.error {
    border: 1px solid #d9534f !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217,83,79,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217,83,79,.6) !important;
}

.form-style {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding-bottom: 15px;
}

.btn-delete {
    float: right;
}

.field-error {
    margin-top: 10px;
    font-size: 16px;
    color: #ac2925;
}

.field-success {
    color: #2b542c;
}

.err-500 {
    margin-top: 50px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #8c8c8c;
}

.chatForm {
    background-color: #eaeaea;
    border: 1px solid #cccccc;
    border-radius: 4px;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
}

.input-group {
    padding: 15px 0;
}

.message {
    display: block;
    padding: 3px 6px 3px 6px;
    margin: 5px 10px;
    animation: msg .4s;
}

.online {
    margin: 5px 10px;
}

#online-div {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 300px;
    margin: 15px 0;
}

.chatForm > div:first-child {
    padding-right: 0 !important;
}

#online-div > div:first-child {
    background-color: #f5f5f5;
    padding: 3px 7px;
    border-bottom: 1px solid #e2e2e2;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block > span {
    font-size: 20px;
}

.overflow {
    margin-top: 15px;
    height: 250px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    overflow: auto;
}

.cursor {
    cursor: pointer;
    text-decoration: none !important;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    /* align-items: stretch; */
    height: 100vh;
    background: linear-gradient(45deg, #14182d, #3d4152);
    flex-direction: column;
    color: #a7b0cc;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
}
.flex-container a {
    color: #a7b0cc;
}
.flex-container a:hover, .flex-container a:focus {
    color: #939dbb;
    text-decoration: none;
}

.flex-container > div:last-child {
    margin: 0 40px 0 40px;
}

.flex-nav {
    display: flex;
    background: linear-gradient(45deg, #262e48, #53586b);
    margin: 0 0 40px 0;
    border-radius: 0;
    /* height: 5%; */
    box-shadow: 0 14px 28px rgba(0,0,0,0.15);
}
.flex-nav > div {
    margin: 30px 80px 0 40px;
    font-size: 22px;
}

.nav-list {
    list-style: none;
}

.nav-list > * {
    float: left;
    padding: 30px 20px;
}

.quantity {
    box-shadow: 0 14px 28px rgba(0,0,0,0.15);
    border-radius: 4px;
}

.quantity-head, .all-msg-head {
    background: linear-gradient(45deg, #262e48, #53586b);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.quantity-head, .user-head, .online-head, .msg-head, .all-users-head, .all-online-head, .all-msg-head{
    font-size: 20px;
    padding: 10px 20px;
}

.quantity-content {
    background: linear-gradient(45deg, #1f2741, #42445a);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    flex-direction: column;
}
.quantity-content-head {
    display: flex;
    color: #5c6286;
}
.quantity-content-head > div {
    width: 33%;
    padding: 30px 100px 0;
}
.quantity-data, .flex-users, .flex-msg, .all-online-table-head,
.table-content, .all-msg-table-head {
    display: flex;
}
.quantity-data > div, .count-user {
    /*display: flex;*/
    /*justify-content: center;*/
    text-align: center;
    font-size: 100px;
    color: #fff;
    width: 33%;
    padding: 0 30px 10px;
}
.quantity-data i {
    background: linear-gradient(45deg, #d87784, #8b56cb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    font-size: 80px;
    margin-right: 20px;
}

.flex-item {
    margin-top: 40px; 
    display: flex;
}

.user, .users-online, .msg, .all-users, .all-online, .all-msg {
    display: flex;
    flex-direction: column;
}
.user, .users-online {
    margin-right: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15);
    border-radius: 14px;
}
.user {
    width: 35%;
}
.users-online {
    width: 20%;
}
.msg {
    width: 45%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15);
    border-radius: 14px;
}

.user-head {
    background: linear-gradient(45deg, #242c46, #282f4a);
}
.online-head {
    background: linear-gradient(45deg, #292f4a, #323651);
}
.msg-head {
    background: linear-gradient(45deg, #323651, #42455b);
}
.user-head, .online-head, .msg-head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.user-head a, .online-head a, .msg-head a {
    float: right;
    color: #5c6286;
}

.user-content {
    background: linear-gradient(45deg, #1e263f, #222742);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 4px;
}
.online-content {
    background: linear-gradient(45deg, #212742, #2a2f49);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.msg-content {
    background: linear-gradient(45deg, #282d48, #383c53);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 14px;
}
.user-content, .online-content, .msg-content,
.all-users-content, .all-online-content, .all-msg-content {
    padding: 30px 30px 15px 30px;
    flex-grow: 1;
}

.user-table-head, .online-table-head, .msg-table-head,
.all-users-table-head {
    display: flex;
    color: #52587f;
}

.user-table-head > div, .online-table-head > div, .new-user{
    width: 33%;
}
.new-user, .new-msg, .new-online, .new-all-user {
    padding-left: 10px;
}
.msg-table-head > div, .new-msg {
    width: 25%;
}
.table-content {
    margin-bottom: 15px;
}

.all-users {
    width: 70%;
    margin-right: 40px;
}
.all-online {
    width: 30%;
}
.all-msg, .new-online {
    flex-grow: 1;
}
.all-users-head {
    background: linear-gradient(45deg, #262e48, #3e405b);
    border-top-left-radius: 14px;
    border-top-right-radius: 4px;
}
.all-online-head {
    background: linear-gradient(45deg, #40415e, #515569);
    border-top-left-radius: 4px;
    border-top-right-radius: 14px;
}
.all-users-table-head > div, .all-msg-table-head > div, .new-all-user {
    width: 16%;
    margin-right: 10px;
}
.all-online-table-head > div {
    width: 50%;
    margin-right: 10px;
}
.all-users-content {
    background: linear-gradient(45deg, #23293f, #383a52);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 4px;
}
.all-online-content {
    background: linear-gradient(45deg, #33344f, #4a4c5f);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 14px;
}
.all-msg-content {
    background: linear-gradient(45deg, #1f2741, #42445a);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

@keyframes msg {
    0% { height: 0; }
    100% { height: 20px; }
}