<div class="flex-msg">
    <div class="all-msg">
        <div class="all-msg-head">Messages</div>
        <div class="all-msg-content">
            <div class="all-msg-table">
                <div class="all-msg-table-head">
                    <div>Room</div>
                    <div>View</div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div class="dialog-head">Messages</div>
        <div class="dialog-content">
            <div class="dialog-table">

            </div>
        </div>
    </div>
</div>
