<div class="flex-msg">
    <div class="all-msg">
        <div class="all-msg-head">Messages</div>
        <div class="all-msg-content">
            <div class="all-msg-table">
                <div class="all-msg-table-head">
                    <div>Room</div>
                    <div>Email</div>
                    <div>Name</div>
                    <div>Age</div>
                    <div>Gender</div>
                    <div>Delete</div>
                </div>
            </div>
        </div>
    </div>
</div>
