<div class="flex-users">
    <div class="all-users">
        <div class="all-users-head">Users</div>
        <div class="all-users-content">
            <div class="all-users-table">
                <div class="all-users-table-head">
                    <div>Username</div>
                    <div>Email</div>
                    <div>Name</div>
                    <div>Age</div>
                    <div>Gender</div>
                    <div>Delete</div>
                </div>
            </div>
        </div>
    </div>
    <div class="all-online">
        <div class="all-online-head">Online</div>
        <div class="all-online-content">
            <div class="all-online-table">
                <div class="all-online-table-head">
                    <div>Username</div>
                </div>
            </div>
        </div>
    </div>
</div>