<div class="quantity">
    <div class="quantity-head">Summary data</div>
    <div class="quantity-content">
        <div class="quantity-content-head">
            <div>Users</div>
            <div>Online</div>
            <div>Messages</div>
        </div>
        <div class="quantity-data"></div>
    </div>
</div>
<div class="flex-item">
    <div class="user">
        <div class="user-head">Users
            <a href="#users">more</a>
        </div>
        <div class="user-content">
            <div class="user-table">
                <div class="user-table-head">
                    <div>Username</div>
                    <div>Email</div>
                    <div>Name</div>
                </div>
            </div>
        </div>
    </div>
    <div class="users-online">
        <div class="online-head">Online
            <a href="#users">more</a>
        </div>
        <div class="online-content">
            <div class="online-table">
                <div class="online-table-head">
                    <div>Username</div>
                </div>
            </div>
        </div>
    </div>
    <div class="msg">
        <div class="msg-head">Messages
            <a href="#messages">more</a>
        </div>
        <div class="msg-content">
            <div class="msg-table">
                <div class="msg-table-head">
                    <div>Room</div>
                    <div>Receiver</div>
                    <div>Sender</div>
                    <div>Message</div>
                </div>
            </div>
        </div>
    </div>
</div>