<div class="flex-container">
    <div class="flex-nav">
        <div>
            <p>Admin panel</p>
        </div>
        <ul class="nav-list">
            <li>Users</li>
            <li>Messages</li>
            <li>Log out</li>
        </ul>
    </div>
    <div class="quantity">
        <div class="quantity-head">Summary data</div>
        <div class="quantity-content">
            <div>Users</div>
            <div>Online</div>
            <div>Messages</div>
        </div>
        <div class="quantity-data">
            <div>Users</div>
            <div>Online</div>
            <div>Messages</div>
        </div>
    </div>
    <div class="flex-item">
        <div class="all-user">
            <div class="user-head">Users</div>
            <div class="user-content">
                <div class="user-table">
                    <div>Login</div>
                    <div>Email</div>
                    <div>Name</div>
                </div>
            </div>
        </div>
        <div class="all-online">
            <div class="online-head">Online</div>
            <div class="online-content">Online</div>
        </div>
        <div class="all-message">
            <div class="msg-head">Message</div>
            <div class="msg-content">All message</div>
        </div>
    </div>
</div>