<div class="flex-container">
    <div class="sidebar-left">
        <a href="">
            <div>Users</div>
        </a>
        <a href="">
            <div>Something</div>
        </a>
        <a href="#">
            <div>Log out</div>
        </a>
    </div>
    <div class="flex-item">
        Users
        <hr>
        <div>
            <div class="head">
                <ul class="cursor">
                    <li class="select">All users</li>
                    <li>Online</li>
                </ul>
            </div>
            <div class="all-user">
                <div class="user-table">
                    <div class="wrap header-table">
                        <div>Login</div>
                        <div>Email</div>
                        <div>Name</div>
                        <div>Age</div>
                        <div>Delete</div>
                    </div>
                    <div class="wrap content-table">
                        <div>test</div>
                        <div>qedq@da.da</div>
                        <div>Thomas</div>
                        <div>24</div>
                        <div><button class="btn btn-danger">Delete</button></div>
                    </div>
                </div>
            </div>
            <div class="online-user"></div>
        </div>
    </div>
</div>