<div class="container">
    <div class="row row-form">
        <div class="col-md-6 col-sm-offset-3  chatForm">
            <div id="subscribe"></div>
            <form name="publish">
                <div class="input-group">
                    <textarea class="form-control" name="message" rows="1" placeholder="Enter message"></textarea>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Send</button>
                    </span>
                </div>
            </form>
            <div id="online-users">Online:
            </div>
        </div>
    </div>
</div>