<div class="container">
    <div class="row row-form">
        <div class="col-md-6 col-sm-offset-3  chatForm">
            <div id="subscribe"></div>
            <form name="publish">
                <div class="input-group">
                    <input class="form-control write-message" name="message">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Send</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>