<div class="container">
    <div class="row row-form">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="form-group">
                <label>Name:</label>
                <input type="text" name="name" class="form-control nameEdit">
                <p></p>
            </div>
            <div class="form-group">
                <label>Age:</label>
                <input name="age" class="form-control ageEdit">
                <p></p>
            </div>
            <label>Gender:</label>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="male" class="gender" value="M">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="male" class="gender" value="F">Female
                </label>
            </div>
            <div class="form-group">
                <label>Change password:</label>
                <input type="password" name="newPassword" class="form-control passwordEdit">
                <p></p>
            </div>

            <button class="btn btn-success" onclick="saveProfile()">Save</button>
            <button class="btn btn-danger btn-danger btn-delete" onclick="deleteProfile()">Delete profile</button>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="field-error">
                <p></p>
            </div>
        </div>
    </div>
</div>