<div class="container" id="homes">
    <div class="row row-form">
        <div class="col-md-3">
            <label for="count">Home</label>
            <div>
                <select id="count" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <label>Room</label>
            <div>
                <select  id="room" class="form-control"></select>
            </div>
        </div>
    </div>

    <div class="row row-form">
        <div class="col-md-3">
            <label for="addHomeName">Add home</label>
            <div class="input-group">
                <input type="text" class="form-control" id="addHomeName">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-add" type="button">Add</button>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <label for="addRoomName">Add room</label>
            <div class="input-group">
                <input type="text" class="form-control" id="addRoomName">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-add-room" type="button">Add</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row row-form">
        <div class="col-md-3">
            <label for="editHomeName">Edit home</label>
            <div class="input-group">
                <input type="text" class="form-control" id="editHomeName" placeholder="Enter the home name">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-edit" type="button">Save</button>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <label for="editRoomName">Edit room</label>
            <div class="input-group">
                <input type="text" class="form-control" id="editRoomName" placeholder="Enter the room name">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-edit-room" type="button">Save</button>
                </span>
            </div>
        </div>
    </div>
</div>