<div class="container">
    <div class="row row-form">
        <div class="col-sm-4 col-sm-offset-4 form-style">
            <div class="form-group">
                <label>Login:</label>
                <input type="text" name="username" class="form-control loginLog">
                <p></p>
            </div>

            <div class="form-group" >
                <label>Password:</label>
                <input type="password" name="password" class="form-control passwordLog">
                <p></p>
            </div>

            <button onclick="formLogin()" class="btn btn-primary">Log in</button>
            <a href="#register" class="btn btn-link">Register</a>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
        <div class="field-error">
            <p></p>
        </div>
    </div>
</div>
