<div class="container">
    <div class="row row-form">
        <div class="col-sm-4 col-sm-offset-4 form-style">
            <div class="form-group" >
                <label>Login*:</label>
                <input type="text" name="username" class="form-control username">
                <p></p>
            </div>

            <div class="form-group">
                <label>Email*:</label>
                <input type="email" name="email" class="form-control email">
                <p></p>
            </div>

            <div class="form-group">
                <label>Password*:</label>
                <input type="password" name="password" class="form-control password">
                <p></p>
            </div>

            <div class="form-group">
                <label>Confirm password*:</label>
                <input type="password" name="confirmPassword" class="form-control confirmPassword">
                <p></p>
            </div>

            <div class="form-group">
                <label>Name:</label>
                <input type="text" name="name" class="form-control name">
                <p></p>
            </div>

            <div class="form-group">
                <label>Age:</label>
                <input name="age" class="form-control age">
                <p></p>
            </div>

            <button onclick="return formValidation()" class="btn btn-primary">Register</button>
            <a href="#login" class="btn btn-link loginForm">Log in</a>
        </div>
    </div>
</div>
